{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('public/css/botones.css')}}">
{% endblock %}
{% block body %}

<hr>
<hr>
<center>
<div class="container" style="margin-top:30px;">
  <div class="row well">
   <div class="col-md-6">
       <h2>EDITAR CATEGORÍA</h2>
       <div class="page-header">
       <br>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br>
        <center>
        <button class="button">Editar</button>
        </center>
    {{ form_end(edit_form) }}

<br>
     {{ form_start(delete_form) }}
     <center>
     <button class="button">Eliminar</button>
     </center>
     {{ form_end(delete_form) }}
</div>
</div>
</div>

</center>
    <ul>
        <li>
            <a href="{{ path('categoria_index') }}">Regresar</a>
        </li>
    </ul>
{% endblock %}
