{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('public/css/botones.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('public/css/tabla2.css')}}">
{% endblock %}
{% block body %}


<hr>
<hr>
<center>
<div class="container" style="margin-top:30px;">
  <div class="row well">
   <div class="col-md-6">
       <div class="page-header">
    <h2>VER DATOS DE CATEGORÍAS</h2>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoria.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categoria.nombre }}</td>
            </tr>
        </tbody>
    </table>

<br>
        {{ form_start(delete_form) }}
               <button class="button">Eliminar</button>
        {{ form_end(delete_form) }}

</center>
</div>
</div>
</div>
    <ul>
        <li>
            <a href="{{ path('categoria_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('categoria_edit', { 'id': categoria.id }) }}">Editar</a>
        </li>
    </ul>

{% endblock %}
