{% extends 'base.html.twig' %}

{% block body %}


<hr>
<H1>CATEGORIAS</H1>
    <table>
        <tbody>
            <tr>
                <th>Identificador</th>
                <td>{{ categorium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categorium.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('categoria_edit', { 'id': categorium.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
