{% extends 'base.html.twig' %}

{% block body %}
<hr>
<center>
<hr>
    <h2>ACTIVOS</h2>


    <table border=4>
        <thead>
            <tr>
                
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Unidadresponsable</th>
                <th>Personaresponsable</th>
                <th>Ubicacion</th>
                <th>Cantidad</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for activo in activos %}
            <tr>
                <td><a href="{{ path('activo_show', { 'id': activo.id }) }}">{{ activo.id }}</a></td>
                <td>{{ activo.codigo }}</td>
                <td>{{ activo.nombre }}</td>
                <td>{{ activo.descripcion }}</td>
                <td>{{ activo.unidadResponsable }}</td>
                <td>{{ activo.personaResponsable }}</td>
                <td>{{ activo.ubicacion }}</td>
                <td>{{ activo.cantidad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('activo_show', { 'id': activo.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('activo_edit', { 'id': activo.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>
    <ul>
        <li>
            <a href="{{ path('menu_activo') }}">Crear nuevo activo</a>
        </li>
    </ul>
{% endblock %}
