{% extends 'vistas.html.twig' %}

{% block body %}
    <h1>Activos</h1>
<CENTER><H1>ACTIVOS DE LA EMPRESA</H1></CENTER>
<hr>

<ul>
    <li>
        <a href="{{ path('activo_homepage') }}">Regresar</a>
    </li>
</ul>
<center>
    <table border="3" align="center" cellpadding=”8″ cellspacing=”8″ >
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Unidad Responsable</th>
                <th>Persona Responsable</th>
                <th>Ubicacion</th>
                <th>Cantidad</th>
                
            </tr>
        </thead>
        <tbody>
        {% for activo in activos %}
            <tr>
                <td>{{ activo.codigo }}</td>
                <td>{{ activo.nombre }}</td>
                <td>{{ activo.descripcion }}</td>
                <td>{{ activo.unidadResponsable }}</td>
                <td>{{ activo.personaResponsable }}</td>
                <td>{{ activo.ubicacion }}</td>
                <td>{{ activo.cantidad }}</td>      
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>
  
{% endblock %}
