{% extends 'base.html.twig' %}

{% block body %}
<hr>
<hr>
<center>
    <h2>EDITAR ACTIVOS</h2>

    <table border=2>
        <tbody>
           
            <tr>
                <th>Codigo</th>
                <td>{{ activo.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ activo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ activo.descripcion }}</td>
            </tr>
            <tr>
                <th>Unidadresponsable</th>
                <td>{{ activo.unidadResponsable }}</td>
            </tr>
            <tr>
                <th>Personaresponsable</th>
                <td>{{ activo.personaResponsable }}</td>
            </tr>
            <tr>
                <th>Ubicacion</th>
                <td>{{ activo.ubicacion }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ activo.cantidad }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
    <hr>
    <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
        </ul>
</center>

    <ul>
        <li>
            <a href="{{ path('activo_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('activo_edit', { 'id': activo.id }) }}">Editar</a>
        </li>
    
    </ul>
{% endblock %}
