{% extends 'base.html.twig' %}

{% block body %}
    <h1>ACTIVO</h1>
<hr>
<H1>ACTIVOS</H1>


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ activo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ activo.descripcion }}</td>
            </tr>
            <tr>
                <th>Unidadresponsable</th>
                <td>{{ activo.unidadResponsable }}</td>
            </tr>
            <tr>
                <th>Personaresponsable</th>
                <td>{{ activo.personaResponsable }}</td>
            </tr>
            <tr>
                <th>Ubicacion</th>
                <td>{{ activo.ubicacion }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ activo.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activo_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('activo_edit', { 'id': activo.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
